.button {
    height: 100%;  
    color: #fff;
}

.button a:visited {
    color: #fff;
}

.button.selected {
    background-color: #7e2f31;
}

.button.selected:hover {
    background-color: #8b4345;
}

.button.button-24 {
    min-width: 24px;
}

.button.button-48 {
    min-width: 48px;
}

.app-bar .menu-button {
    background-color: #d13438;
    text-align: center;
}

.app-bar .menu-button:hover {
    background-color: #d6484c;
}

.app-bar  {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    color: black;
    background-color: #f2f2f2; 
    line-height: 48px;
    height: 48px;
}
.app-bar .title {
    width: 100%;
    text-align: left;
    margin-left: 20px;
}

ul.action-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}

.action-bar .button:hover {
    background-color: #222;
}

