.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.app .slideout {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    height: 100%;
}

.app .slideout .content{
    overflow-y: auto;
}

context-menu {
    height: 100%;
}