<div class="app">
    <app-bar></app-bar>
    <div class="slideout">
        <side-menu>
            <side-menu-item name="Item 1" icon="home"></side-menu-item>
            <side-menu-item name="Item 2" icon="desktop"></side-menu-item>
            <side-menu-item name="Item 3" icon="camera"></side-menu-item>
            <side-menu-item name="Item 4" icon="diamond"></side-menu-item>
            <side-menu-item name="Item 5" icon="cog"></side-menu-item>
        </side-menu>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>
</div>