x-hamburger-button {
    min-width: 48px;
    height: 100%;  
}

x-hamburger-button:hover {
    color: #fff;
    background-color: #222;
}

.x-navigation-bar  {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    color: #eee;
    background-color: black;
    text-align: center;
    line-height: 48px;
    height: 48px;
}
.x-navigation-bar .title {
    width: 100%;
}