.button {
    height: 100%;  
    color: #fff;
}

.button a:visited {
    color: #fff;
}

.button.button-24 {
    min-width: 24px;
}

.button.button-48 {
    min-width: 48px;
}

.app-bar .menu-button {
    background-color: #222;
}

.app-bar .menu-button:hover {
    background-color: #333;
}

.app-bar  {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    color: #eee;
    background-color: black;
    text-align: center;
    line-height: 48px;
    height: 48px;
}
.app-bar .title {
    width: 100%;
}

ul.action-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
}

.action-bar .button:hover {
    background-color: #222;
}

