<div class="x-shell">
    <x-navigation-bar></x-navigation-bar>
    <div class="slideout">
        <x-sidebar>
            <x-sidebar-item name="Item 1" icon="home"></x-sidebar-item>
            <x-sidebar-item name="Item 2" icon="desktop"></x-sidebar-item>
            <x-sidebar-item name="Item 3" icon="camera"></x-sidebar-item>
            <x-sidebar-item name="Item 4" icon="diamond"></x-sidebar-item>
            <x-sidebar-item name="Item 5" icon="cog"></x-sidebar-item>
        </x-sidebar>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </div>
</div>