div {
    width: 200px;
    transition: all 0.25s ease-in-out;
}
div.collapsed {
    width: 48px;
    transition: all 0.25s ease-in-out;
}
div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}   
div ul li {
    white-space: nowrap;
    margin-left: 0;
    height: 48px;
    transition: all 0.25s ease-in-out;
}
div ul a {
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 48px;
}
div ul li a, div ul li a:visited {
    text-decoration: none;
    color: #eee;
}
div ul li:hover {
    background-color: #555;
}
div ul li i.fa {
    width: 48px;
    text-align: center;
}
div.collapsed ul li {
    white-space: nowrap;
    transition: all 0.25s ease-in-out;
}
