html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 14pt;
}



x-sidebar {
    flex-grow: 0;
    min-height: 100%;
    overflow: hidden;
    background-color: #333;
}

.content {
    flex-grow: 1;
}
